<script>
  //////////////////////////////////////////////////////////////////////
  // button pixel panning 
  ////////////////////////////////////////////////////////////////////// 
  const step = 10; // pixels
  function moveMap([xDirection, yDirection]) {
    var center = map.getView().getCenter();
    var resolution = map.getView().getResolution();
    map.getView().setCenter([center[0] + xDirection * resolution, center[1] + yDirection * resolution]);
  }

  document.getElementById('pan-up').onclick = function () {
    moveMap([0, step]);
  };
  document.getElementById('pan-left').onclick = function () {
    moveMap([-step, 0]);
  };
  document.getElementById('pan-right').onclick = function () {
    moveMap([step, 0]);
  };
  document.getElementById('pan-down').onclick = function () {
    moveMap([0, -step]);
  };
</script>