{% extends "layouts/main.html" %}

{% set pageName="Search" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}

{{ govukBreadcrumbs({
    items: [
      {
        text: "LLC prototypes",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Search for local land charges
    </h1>

    <p class="govuk-body-l">Search is a public facing service that allows users to 
      search an area for local land charges.</p>

    <p>This prototype shows an iterated design for an interactive map using the existing openlayers js library, re-styled to use GDS components. It includes a pattern overlay and an example using keyboard control to select an existing property boundary</p>

    <p>Anyone can use the service but an account is currently mandatory. Free and paid searches are both available; free searches list charges found but do not show the area the charge extent covers, while paid searches generate a PDF (JSON, CSV or XML are also available) with all charge and extent information which is then saved for 6 months and can be repeated in that time for free.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h2 class="govuk-heading-m">
      Maps
    </h2>
    <h3 class="govuk-heading-s">
      User research
    </h3>
    <p class="govuk-body">Design iterations to improve accessibility and UX of the interactive map.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="edit-search-area">Edit search area: version 1</a></li>
      <li><a href="edit-search-area-hint-text">Edit search area: version 2</a></li>
      <li><a href="edit-search-area-reveal-hint">Edit search area: version 3</a></li>
      <li><a href="edit-search-area-reversed">Edit search area: version X</a></li>
    </ul>
  
    <h3 class="govuk-heading-s">
      Background
    </h3>
    <ul class="govuk-list govuk-list--bullet">

      <li><a href="keyboard">Keyboard navigation</a></li>
      
      <li><a href="keyboard_concept">(Keyboard navigation proof of concept)</a></li>
      <p class="govuk-body">This proof of concept map uses keyboard navigation. It is based on this <a href="https://github.com/mcoulthurst/map-keyboard" target="_blank">openlayers prototype (opens in a new tab)</a>, and uses the compiled js inside a GDS styled page. It shows the ability to select a geoJSON polygon or add a marker.</p>
    </ul>

  </div>
</div>

{% endblock %}