{% extends "layouts/main.html" %}

{% set pageName="Search" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}

{{ govukBreadcrumbs({
    items: [
      {
        text: "LLC prototypes",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Search for local land charges
    </h1>

    <p class="govuk-body-l">Search for local land charges is a public facing service that allows users to 
      search an area for local land charges.</p>

    <p>This prototype shows <a href="interactive-map">design iterations</a> of the existing interactive map that is used to define a custom search area. The prototype was built using the existing openlayers js library, re-styled to use GDS components. It includes a pattern overlay and an example using keyboard control to select an existing property boundary.</p>

    <p>Anyone can use the live service but an account is currently mandatory. Free and paid searches are both available; free searches list charges found but do not show the area the charge extent covers, while paid searches generate a PDF (JSON, CSV or XML are also available) with all charge and extent information which is then saved for 6 months and can be repeated in that time for free.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h2 class="govuk-heading-m">
      Maps
    </h2>
    
    <h3 class="govuk-heading-s">
      Example for Maintain local land charges
    </h3>
    <ol class="govuk-list govuk-list--no-bullet">
      <li><a href="/map">Add a charge, including postcode search</a></li>
    </ol>

    <h3 class="govuk-heading-s">
      Examples for Search for local land charges
    </h3>
    <ol class="govuk-list govuk-list--no-bullet">
      <li><a href="edit-search-v2">Refined tab order</a></li>
      <li><a href="basic">Base map</a></li>
    </ol>

    <h3 class="govuk-heading-s">
      User research
    </h3>
    <p class="govuk-body">Design iterations to improve accessibility and UX of the interactive map.</p>
    <ol class="govuk-list govuk-list--number">
      <li><a href="edit-search-area">Edit search area (no hint text)</a></li>
      <li><a href="edit-search-area-hint-text">Draw search area (no polygon, full hint text)</a></li>
      <li><a href="edit-search-area-reveal-hint">Edit search area (reveal hint text)</a></li>
      <li><a href="search-by-map">Search by map (long form content)</a></li>
      <li><a href="edit-search-area-reversed">Edit search area (reversed)</a></li>
    </ol>
    <h3 class="govuk-heading-s">
      Proof of concept
    </h3>
    <p class="govuk-body">This is a simple <a href="https://openlayers.org/">OpenLayers</a> map using Local Area District (LAD) boundaries to test navigation and area selection using the keyboard. External buttons are used to navigate the map and to select the area at the center of the map. The coordinates of this central point are then used to find the LAD (using getFeaturesAtCoordinate) which is then styled to show it has been selected.</p>
    
    <p class="govuk-body"><a href="https://github.com/LandRegistry/llc-map-prototype/blob/main/app/assets/javascripts/main.js">Sample js code </a>is included for reference. A working repo can be found <a href="https://github.com/mcoulthurst/map-keyboard">here</a>.</p>
    <ol class="govuk-list govuk-list--number">
      <li><a href="keyboard_concept">Proof of concept</a></li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h2 class="govuk-heading-m">
      Map Component
    </h2>
    
    <h3 class="govuk-heading-s">
      <strong class="govuk-tag govuk-tag--red">EXPERIMENTAL</strong><br/>
    </h3>

    <p class="govuk-body">
      
        This page shows multiple versions of a <a href="/map-component">map component</a> to render an open source map and add a geojson overlay.</p>

  </div>
</div>

{% endblock %}