{% extends "layouts/main.html" %}

{% set pageName="Search" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}

{{ govukBreadcrumbs({
    items: [
      {
        text: "LLC prototypes",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Interactive map: Edit the search area 
    </h1>
    <p class="govuk-body-l">The search service is a public facing service that allows users to 
      search a geographical area for local land charges.</p>


    <h2 class="govuk-heading-l">
      The Issue
    </h2>
    <p>The existing interactive map had a number of accessibility issues that prevented users from completing a search. The map required mouse or touch interaction in order to define a search area, there was a contrast issue with the map overlay, and non-standard buttons were used as part of the user interface.</p>
    <p>Additionally, it was concluded from data analytics that users where drawing areas by hand and very few people were using the built-in functionality to identify their search area.</p>


    <h2 class="govuk-heading-l">
      What we changed
    </h2>
    <p>We reviewed the complete page and it's place in the user journey. A key part was refining the content on the page. to simplify the page, we removed explanatory text that was covered earlier in the journey, and renamed the controls to provide clearer labels. We also tested a version with short hint text.</p>
    <p>One of the key requirements was to only use the existing functionality (and not investigate alternatives). We replaced the existing openlayers map controls with GDS components. This standardised the appearance of the page and more importantly, it ensured any future accessibility improvements are automatically received. We grouped the controls based on their function and re-ordered them to make the built-in selection the default. The main element was four exclusive user states to select, draw, edit or delete areas.</p>
    <p>The controls also included an option to snap to a feature of the map. (Snapping is a drawing aid that controls the accuracy of the pointer when you hover near a corner, an endpoint, or other geometric element).</p>
    <p>The remaining functions (to undo an action or clear the complete map) remained as simple buttons.</p>
    <p>We also added an option to toggle between a colour shading and hatched pattern in order to not rely colour alone to show the state of the map, although the new changes meant that the radio buttons now indicate this. </p>
    <p>In order to enable use of the map via the keyboard alone, a new button was added to the UI to select the area in the centre of the map. Panning and zooming of the map using the keyboard was already built-in using the openlayer js library. We added to this by using custom code to fine tune the positioning of the map. This enabled the user to pan shorter amounts by also using the shift key. The space bar was also used to add or delete the area in the centre of the map. </p>
    <p>After user testing including accessibility testing with keyboard-only users, we remove the "select centre" button as well as the buttons to pan the map, but left the keyboard functionality to move the map and select the location in the centre of the map.</p>
    <p>The final change was to add a visual cue to the map on mouse over. This indicated each predefined area when a user was selecting an area.</p>
    
    <img class="govuk-!-width-full" src="/public/images/map-existing.png" alt="">
    <figcaption class="govuk-body-s">Existing map tool</figcaption>
    <img class="govuk-!-width-full" src="/public/images/map-revised.png" alt="">
    <figcaption class="govuk-body-s">Revised map tool</figcaption>

    <h2 class="govuk-heading-l">
      User testing
    </h2>
    <p>We tested the map with a group of first time citizen users who had recent experience in purchasing a property. The research was planned to test if users could define a custom area to search.</p>
    <p>We found that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>The “Draw” option was not intuitive to use the first time</li>
      <li>"Snap to map" was not understood</li>
      <li>Help links were missed</li>
      <li>Option to show shaded areas was not required</li>
      <li>Hint text was useful to first time users</li>
    </ul>
    
    
    <h2 class="govuk-heading-l">
      Further consideration
    </h2>
    
    <p>We were constrained by the existing functionality of the interactive map. There is further scope to remove the button states so that users can add and remove areas by clicking directly on the map to toggle area selection instead of having to switch state for select area to delete area.</p>
    <p>This iterative process ensures that our design remains user-centric and aligns with the evolving needs of our diverse user base.</p>

    <video controls  class="govuk-!-width-full">
      <source src="/public/images/llc-interactive-map.mp4" type="video/mp4" />
    
      Download the
      <a href="/public/images/llc-interactive-map.mp4">MP4</a>
      video.
    </video>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h2 class="govuk-heading-m">
      Maps
    </h2>
    <ol class="govuk-list govuk-list--no-bullet">
      <li><a href="edit-search-v2">Refined tab order</a></li>
      <li><a href="basic">Base map</a></li>
    </ol>

  </div>
</div>

{% endblock %}