{% extends "layouts/main.html" %}

{% set pageName="Keyboard: crosshairs" %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/language-switcher-heading.html" %}
<style>
  .center {
    position: absolute;
    top: 330px;
    left: calc(37.5% - 29px); /* half of the 75% column width */
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #00000066;
    pointer-events: none;
    z-index: 2;
  }

  .horizontal,
  .vertical {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #000;
    border-radius: 0;
    top: 28px;
    z-index: 0;
  }

  .horizontal {
    left: -6px;
  }

  .vertical {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: -7px;
  }
</style>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Edit search area</h1>
<div id="container" class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <div style="position: relative; width: 0; height: 0">
      <button id="fullscreen" class=" ol-fullscreen" type="button" title="Full screen"></button>
      <br />
      <div class="nav-controls ">
        <button id="pan-up" class="nav-button" data-module="govuk-button">
          <i class="arrow up"></i><span class="govuk-visually-hidden">Pan up</span>
        </button>
        <button id="pan-left" class="nav-button" data-module="govuk-button">
          <i class="arrow left"></i><span class="govuk-visually-hidden">Pan left</span>
        </button>
        <button id="pan-right" class="nav-button" data-module="govuk-button">
          <i class="arrow right"></i><span class="govuk-visually-hidden">Pan right</span>
        </button>
        <button id="pan-down" class="nav-button" data-module="govuk-button">
          <i class="arrow down"></i><span class="govuk-visually-hidden">Pan down</span>
        </button>
      </div>
    </div>
    <div id="map" class="maintain-llc-map" tabindex="1">
      <div class="center">
        <div class="horizontal"></div>
        <div class="vertical"></div>
      </div>
      <noscript>
        <div id="nojs" class="nojs-content">
          <div id="nojs-message" class="notification-summary">
            <p>
              You need to turn on JavaScript to use this service. Or, for assistance, please use the following link -
              <a id="“assistance-link”"
                href="https://customerhelp.landregistry.gov.uk/local-land-charges">https://customerhelp.landregistry.gov.uk/local-land-charges</a>
            </p>
          </div>
        </div>
      </noscript>
    </div>

  </div>

  <div id="navbar" class="govuk-grid-column-one-quarter">

    <h2 class="govuk-heading-m">Edit options</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-radios  govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="select" name="edit-mode" type="radio" value="select-area"
              aria-describedby="sign-in-item-hint" checked>
            <label class="govuk-label govuk-radios__label" for="select">
              <span class="">
                <span class=""></span>
                Select area
              </span>
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="draw" name="edit-mode" type="radio" value="draw-area"
              aria-describedby="sign-in-item-hint" data-aria-controls="conditional-sign-in">
            <label class="govuk-label govuk-radios__label" for="draw">
              <span class="">
                <span class=""></span>
                Draw area
              </span>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="edit" name="edit-mode" type="radio" value="edit-area"
              aria-describedby="sign-in-item-hint">
            <label class="govuk-label govuk-radios__label" for="edit">
              <span class="r">
                <span class="defra-map-key__symbol  defra-map-key__symbol--big"></span>
                Edit area
              </span>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="delete" name="edit-mode" type="radio" value="delete-area"
              aria-describedby="sign-in-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="delete">
              <span class="">
                <span class="defra-map-key__symbol defra-map-key__symbol--big"></span>
                Delete area
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-padding-top-3 govuk-!-padding-bottom-3">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-padding-top-3" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="snap_to_map" name="snap_to_map" type="checkbox" value="snap">
            <label class="govuk-label govuk-checkboxes__label" for="snap_to_map">
              Snap to map
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="hatching" name="hatching" type="checkbox" value="hatched">
            <label class="govuk-label govuk-checkboxes__label" for="hatching">
              Show shading
            </label>
          </div>
        </div>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible ">

    <div class="govuk-grid-row govuk-!-padding-bottom-6">
      <div class="govuk-grid-column-full govuk-!-padding-top-3">
        <div class="">
          <button id="undoBtn" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Undo
          </button>
          <br />
          <button id="clearAllBtn" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Clear all
          </button>
          <br />
          <button id="select-area" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Select centre
          </button>
        </div>
      </div>
    </div>


    <button class="govuk-button " data-module="govuk-button">
      Confirm area
    </button>

  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <div class=" govuk-!-padding-top-3 govuk-!-padding-right-6">
      <div class="">
        <p><a class="govuk-link govuk-body-m" href="help" target="_blank">Learn more about how to use this map (opens in
            a new tab)</a></p>
      </div>

      <p class="govuk-body govuk-body-s govuk-!-padding-top-3">
        Use of address and mapping data (including the link between the address and its location) is subject to
        <a href="https://www.ordnancesurvey.co.uk/about/governance/policies/hm-land-registry-local-land-searches-service.html"
          target="_blank">Ordnance Survey Licence Terms and Conditions</a> (link opens in new tab).
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="">
      <div class="govuk-heading-s ">
        Map key
      </div>
      <div class="">
        <img class="map-key-image" src="/public/ol/images/information_available.png" alt="Location available key"
          height="19" width="19">
        <span class="map-key-text govuk-body-s">Location available</span>
      </div>
      <div class="">
        <img class="map-key-image" src="/public/ol/images/information_not_available.png"
          alt="Location not available key" height="19" width="19">
        <span class="map-key-text govuk-body-s">Location not available</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block pageScripts %}
{% include "includes/existing-js.html" %}
{% include "includes/extra-map-controls.html" %}
{% include "includes/button-panning-controls.html" %}

{% endblock %}